<h2>Positions Report</h2>

{{ shop.metafields.acf_settings.customer.fields }}
<br /><br />
{{ customer.metafields.position.coffee }}
<br /><br />


<table>
  <tr>
    {% for field in shop.metafields.acf_settings.customer.fields %}   
    {% assign field_value = customer.metafields[field.namespace][field.name] | split: ", " %}
      <th>{{ field.label }}</th>
    {% endfor %}
  </tr>

  {% for position in customer.metafields.position.coffee %}
    {% assign i = forloop.index0 %}
    {% assign position_status = customer.metafields.position.status[i] %}
    {% assign position_booked = customer.metafields.position.booked[i] %}
    {% assign position_balance = customer.metafields.position.balance[i] %}
    <tr>
      <td>{{ position }}</td>
      <td>{{ position_status }}</td>
      <td>{{ position_booked }}</td>
      <td>{{ position_balance }}</td>
    </tr>
  {% endfor %}
  
</table>







(location: 'snippets/account-positions-report.liquid')