<h2>Positions Report</h2>

{{ shop.metafields.acf_settings.customer }}


<table>
  <tr>
    {% for field in shop.metafields.acf_settings.customer.fields %}
      {% assign field_section = field.section %}
      {% assign field_value = customer.metafields[field.namespace][field.name] %}
      
      <th>{{ field.label }}{{ field_section }}</th>
      
    
      {% if field_section.id != current_section.id %}   
      {% endif %}

      {% assign current_section = field_section %}

    {% endfor %}
  </tr>
  <tr>
    
  </tr>
</table>

{% for field in shop.metafields.acf_settings.customer.fields %}

  {% assign field_section = field.section %}
  Section ID: {{ field_section.id }}
  {% assign field_value = customer.metafields[field.namespace][field.name] %}
  {% assign i = forloop.index0 %}

  {% for section in field_section %}
    {{ i }}
    <p>{{ field.label }}: {{ field_value }}</p>
  {% endfor %}

  
  {% if field_section.id != current_section.id %}

  {% endif %}


  {% assign current_section = field_section %}

{% endfor %}

<table>
  <tr>
    {% for field in shop.metafields.acf_settings.customer.fields %}
        <th>{{ field.label }}</th>
    {% endfor %}
  </tr>


  <tr>
    

{% for item in customer.metafields.accentuate.coffee %}
    <td>{{ item | replace: '-', ' ' }}</td>
{% endfor %}
{% for item in customer.metafields.accentuate.status %}
    <td>{{ item }}</td>
{% endfor %}
{% for item in customer.metafields.accentuate.booked %}
    <td>{{ item }}</td>
{% endfor %}
{% for item in customer.metafields.accentuate.balance %}
    <td>{{ item }}</td>
{% endfor %}
  </tr>

</table>





(location: 'snippets/account-positions-report.liquid')