<h2>Positions Report</h2>

{{ shop.metafields.acf_settings.customer }}

<table>
  <tr>
    {% for field in shop.metafields.acf_settings.customer.fields %}
      {% assign field_value = customer.metafields[field.namespace][field.name] %}
        <th>{{ field.label }}</th>
    {% endfor %}
  </tr>
  <tr>
  {% for field in shop.metafields.acf_settings.customer.fields %}
    {% assign field_value = customer.metafields[field.namespace][field.name] %}
    
      <td>{{ field_value }}</td>
    
  {% endfor %}
  </tr>
  
  {% assign field_section = field.section %}
  {% assign field_value = customer.metafields[field.namespace][field.name] %}

  {% if field_section.id != current_section.id %}
    <h3>{{ field_section.label }}</h3>
  {% endif %}
  
  <p>{{ field.label }}: {{ field_value }}</p>

  {% assign current_section = field_section %}
  {% assign current_value = field_section %}



</table>



{% for item in customer.metafields.accentuate.coffee %}
    <p>{{ item | replace: '-', ' ' }}</p>
{% endfor %}
{% for item in customer.metafields.accentuate.status %}
    <p>{{ item }}</p>
{% endfor %}
{% for item in customer.metafields.accentuate.booked %}
    <p>{{ item }}</p>
{% endfor %}
{% for item in customer.metafields.accentuate.balance %}
    <p>{{ item }}</p>
{% endfor %}



(location: 'snippets/account-positions-report.liquid')