<h2>Positions Report</h2>

{{ shop.metafields.acf_settings.customer }}


{% for header in product.metafields.accentuate.header %} 
  <h3>{{ header }}</h3>
  <p>{{ product.metafields.accentuate.measurement[forloop.index0] }}</p>
{% endfor %} 

<table>
  <tr>
    {% for field in shop.metafields.acf_settings.customer.fields %}
      {% assign head_value = customer.metafields[field.namespace][field.name] %}
        <th>{{ field.label }}</th>
    {% endfor %}
  </tr>

    
  {% for field in shop.metafields.acf_settings.customer.fields %}

    {% assign field_row = customer.metafields[field.namespace][field.name] %}

    {% for value in field_value %}
      
      <td>{{ value }}</td>
    {% endfor %}

  {% endfor %}
  <tr>
  </tr>

</table>



{% for item in customer.metafields.accentuate.coffee %}
    <p>{{ item | replace: '-', ' ' }}</p>
{% endfor %}
{% for item in customer.metafields.accentuate.status %}
    <p>{{ item }}</p>
{% endfor %}
{% for item in customer.metafields.accentuate.booked %}
    <p>{{ item }}</p>
{% endfor %}
{% for item in customer.metafields.accentuate.balance %}
    <p>{{ item }}</p>
{% endfor %}



(location: 'snippets/account-positions-report.liquid')