<h2>Positions Report</h2>

<table>
  <tr>
    {% for field in shop.metafields.acf_settings.customer.fields %}   
      <th>{{ field.label }}</th>
    {% endfor %}
  </tr>

  {% for position in customer.metafields.position.coffee %}
    {% assign i = forloop.index0 %}
    {% assign position_status = customer.metafields.position.status[i] %}
    {% assign position_booked = customer.metafields.position.booked[i] %}
    {% assign position_balance = customer.metafields.position.balance[i] %}
    
    {% assign words = position | split: '-' %}

{% capture titlecase %}
  {% for word in words %}
    {{ word | capitalize }}
  {% endfor %}
{% endcapture %}

    
    <tr>
      <td>{{ titlecase }}</td>
      <td>{{ position_status }}</td>
      <td>{{ position_booked }}</td>
      <td>{{ position_balance }}</td>
    </tr>
  {% endfor %}
  
</table>



(location: 'snippets/account-positions-report.liquid')