
{% for order in customer.orders %}
  <ul>
    <li>Order Number: {{ order.order_number | t }}</li>
    <li>Order URL: {{ order.customer_url }}</li>
    <li>Order name: {{ order.name }}</li>
    <li>Order Date: {{ order.created_at | time_tag: format: 'date' }}</li>
    <li>Order Line items: {% for item in order.line_items %}{{ item.title }}{% endfor %}</li>
      {% for item in order.line_items %}
        {%- if item.fulfillment -%}
          {% assign fulfilled_qty = item.fulfillment_line_items[quantity] %}
        {%- endif -%}
      {% endfor %}
    <li>Fulfilled: {{ fulfilled_qty }}</li>
    <li>Quantity: {% for qty in order.line_items %}{{ qty.quantity }}{% endfor %}</li>
  </ul>
{% endfor %}

<h2>Positions Report</h2>

<table>
  {% tablerow field in shop.metafields.acf_settings.customer.fields %}
    {{ field.label }}
  {% endtablerow %}
  {% for position in customer.metafields.position.coffee %}
    {% assign coffee = all_products[position].title %}    
    {% assign i = forloop.index0 %}
    <tr>
      {% for field in shop.metafields.acf_settings.customer.fields %}
        {% assign col_name = field.name %}
        {% assign col_value = customer.metafields.position[col_name] %}
        {% if col_name == 'coffee' %}
          <td>{{ coffee }}</td>
        {% else %}
          <td>{{ col_value[i] }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
