
{% for order in customer.orders %}
  <ul>
    <li>Order Number: {{ order.order_number | t }}</li>
    <li>Order URL: {{ order.customer_url }}</li>
    <li>Order name: {{ order.name }}</li>
    <li>Order Date: {{ order.created_at | time_tag: format: 'date' }}</li>
    <li>Order Line items: {% for item in order.line_items %}{{ item.title }}{% endfor %}</li>
    <li>Quantity: {% for qty in order.line_items %}{{ qty.quantity }}{% endfor %}</li>
  </ul>
  {% for line_item in order.line_items %}
  {%- if line_item.fulfillment -%}
    <div class="fulfillment">
      {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
      <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>

      {%- if line_item.fulfillment.tracking_url -%}
        <a href="{{ line_item.fulfillment.tracking_url }}">
          {{ 'customer.order.track_shipment' | t }}
        </a>
      {%- endif -%}
      <span>
        {{ line_item.fulfillment.tracking_company }}
        {%- if line_item.fulfillment.tracking_number -%}
          #{{ line_item.fulfillment.tracking_number }}
        {%- endif -%}
      </span>
    </div>
  {%- endif -%}
  {% endfor %}
  
{% endfor %}

<h2>Positions Report</h2>

<table>
  {% tablerow field in shop.metafields.acf_settings.customer.fields %}
    {{ field.label }}
  {% endtablerow %}
  {% for position in customer.metafields.position.coffee %}
    {% assign coffee = all_products[position].title %}    
    {% assign i = forloop.index0 %}
    <tr>
      {% for field in shop.metafields.acf_settings.customer.fields %}
        {% assign col_name = field.name %}
        {% assign col_value = customer.metafields.position[col_name] %}
        {% if col_name == 'coffee' %}
          <td>{{ coffee }}</td>
        {% else %}
          <td>{{ col_value[i] }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
