<h2>Positions Report</h2>

<table>
  {% tablerow field in shop.metafields.acf_settings.customer.fields %}
    {{ field.label }}
  {% endtablerow %}

    {% for position in customer.metafields.position.coffee %}
      {% assign i = forloop.index0 %}
      <tr>
        {% for field in shop.metafields.acf_settings.customer.fields %}
          {% assign col_name = field.name %}
          {% if col_name == 'coffee' %}
            {% assign coffees = customer.metafields.position[col_name] %}
            {{ coffees }}
            {% assign coffee =  coffees[i] %}
            {% assign col_value = all_products[coffee].title %}
          {% else %}
            {% assign col_value = customer.metafields.position[col_name] %}
          {% endif %}
          <td>{{ col_value[i] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  
      
 


  
  {% for position in customer.metafields.position.coffee %}
    {% assign i = forloop.index0 %}
    {% assign position_contract = customer.metafields.position.contract[i] %}
    {% assign position_start_date = customer.metafields.position.start_date[i] %}
    {% assign position_end_date = customer.metafields.position.end_date[i] %}
    {% assign position_coffee = all_products[position].title %}
    {% assign position_status = customer.metafields.position.status[i] %}
    {% assign position_booked = customer.metafields.position.booked[i] %}
    {% assign position_balance = customer.metafields.position.balance[i] %} 
    {% assign position_currency = customer.metafields.position.currency[i] %}
    {% assign position_price = customer.metafields.position.price[i] %}
    <tr>
      <td>{{ position_contract }}</td>
      <td>{{ position_start_date }}</td>
      <td>{{ position_end_date }}</td> 
      <td>{{ position_coffee }}</td>
      <td>{{ position_status }}</td>     
      <td>{{ position_booked }}</td>
      <td>{{ position_balance }}</td> 
      <td>{{ position_currency }}</td>
      <td>${{ position_price }}</td>
    </tr>
  {% endfor %}
  
</table>
