<h2>Positions Report</h2>



{% for field in shop.metafields.acf_settings.customer.fields %}

  {% assign field_section = field.section %}
  {% assign field_value = customer.metafields[field.namespace][field.name] %}

  {% if field_section.id != current_section.id %}
  <h3>{{ field_section.label }}</h3>
  {% endif %}
  
  <p>{{ field.label }}: {{ field_value }}</p>

  {% assign current_section = field_section %}

  {% if field.label == 'Coffee' %}
    {% assign coffee = field_value %}
    We have coffee
    {{ coffee }}
  {% endif %}

{% endfor %}


{% for item in customer.metafields.accentuate.coffee %}
    {{ item }}
{% endfor %}



(location: 'snippets/account-positions-report.liquid')