<h2>Positions Report</h2>

{{ shop.metafields.acf_settings.customer }}

{% for field in shop.metafields.acf_settings.customer.fields %}
  {% assign field_value = product.metafields[field.namespace][field.name] %}
  <p>{{ field.label }}: {{ field_value }}</p>
{% endfor %}

{% for field in shop.metafields.acf_settings.customer.fields %}
  {% assign field_value = product.metafields[field.namespace][field.name] %}
  <p>{{ field.label }}: {{ field_value }}</p>
{% endfor %}

{% for field in shop.metafields.acf_settings.customer.fields %}

  {% assign field_section = field.section %}
  {% assign field_value = customer.metafields[field.namespace][field.name] %}

  {% if field_section.id != current_section.id %}
  <h3>{{ field_section.label }}</h3>
  {% endif %}
  
  <p>{{ field.label }}: {{ field_value }}</p>

  {% assign current_section = field_section %}


{% endfor %}


{% for item in customer.metafields.accentuate.coffee %}
    {{ item | replace: '-', ' ' }}
{% endfor %}
{% for item in customer.metafields.accentuate.status %}
    {{ item }}<br />
{% endfor %}
{% for item in customer.metafields.accentuate.booked %}
    {{ item }}
{% endfor %}
{% for item in customer.metafields.accentuate.balance %}
    {{ item }}
{% endfor %}



(location: 'snippets/account-positions-report.liquid')