{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

<div class="card-wrapper product-card-wrapper">
  <div
    class="
      card card--{{ settings.card_style }}
      card--text
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if horizontal_class %} card--horizontal{% endif %}
    "
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  >

    <div class="card__content">
      <div class="card__information">
        {% if section.settings.cgc_card_icon %}
          {% assign icon_file = section.settings.cgc_card_icon | append: ".png" %}
          <img src="{{ icon_file | file_url }}" width="60px" height="60px">
        {% endif %}
        {% if card_product.metafields.custom.origin.value %}
          <p>{{ card_product.metafields.custom.origin.value }}</p>
        {% endif %}
        <h2
          class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}"
          {% if settings.card_style == 'card' %}
            id="title-{{ section_id }}-{{ card_product.id }}"
          {% endif %}
        >
          <a
            href="{{ card_product.url }}"
            id="CardLink-{{ section_id }}-{{ card_product.id }}"
            class="full-unstyled-link"
            aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
          >
            {{ card_product.title | escape }}
          </a>
        </h2>
        <div class="cgc-card-information">
          <table class="cgc-card-info">
            {% if card_product.metafields.custom.status.value %}
              <tr>
                <th>Status</th>
                <td>{{ card_product.metafields.custom.status.value }}</td>
              </tr>
            {% endif %}
            {%- assign inventory = card_product.selected_or_first_available_variant.inventory_quantity -%}
              <tr>
                <th>Available</th>
                <td>{{ inventory }} bags</td>
              </tr>
            {% if card_product.metafields.custom.bag_weight %}
              <tr>
                <th>Bag Weight</th>
                <td>{{ card_product.metafields.custom.bag_weight.value }}</td>
              </tr>
            {% endif %}
            {% if card_product.metafields.custom.notes %}
              <tr>
                <th>Profile</th>
                <td>{{ card_product.metafields.custom.notes.value }}</td>
              </tr>
            {% endif %}
          </table>
        </div><!-- cgc-card-information -->
      </div><!-- card__information -->
    </div><!-- card__content -->

    {% if card_product.metafields.custom.profile %}
      <div class="card__badge">
        <span class="badge color-pink">
          {{ card_product.metafields.custom.profile }}
        </span>
      </div><!-- card__badge -->
    {%- endif -%}
    
  </div><!-- card -->
</div><!-- card-wrapper -->


